<a href="https://colab.research.google.com/github/C-HARRIETH/AUTOLIB-ANALYSIS/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_02_Chebet_Harrieth_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **AUTOLIB DATA ANALYSIS**

*Problem Statement:* 
 
You will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

## **Loading necessary libraries**

In [1]:
#pandas library
import pandas as pd

#numpy library
import numpy as np

#matplotlib library
import matplotlib.pyplot as plt
%matplotlib inline 

#seaborn library
import seaborn as sns

## **Importing and checking the dataset**

In [22]:
# storing url location 
url= 'http://bit.ly/autolib_dataset'

# reading dataset from url
autolib= pd.read_csv(url)

In [23]:
# viewing the dataset
autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# size of the dataset

autolib.shape

(5000, 25)

In [ ]:
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# confirming the unique values in columns

autolib['Charging Status'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
autolib['Kind'].unique()

array(['STATION', 'PARKING', 'SPACE', 'CENTER'], dtype=object)

In [ ]:
autolib['Rental status'].unique()

array(['operational', 'broken', 'future', 'nonexistent'], dtype=object)

In [ ]:
autolib['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
autolib['Status'].unique()

array(['ok', 'closed', 'scheduled'], dtype=object)

In [ ]:
autolib['Subscription status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

#### The input in specific columns seem to be as specified in the description.

In [24]:
# Dropping columns irrelevant to the analysis

autolib.drop(['Address', 'Cars', 'Displayed comment', 'Geo point'], axis= 1, inplace= True)
autolib

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 21 columns]

### Checking for null values

In [25]:
autolib.isnull().values.any()

True

In [26]:
# total number of missing values
autolib.isnull().sum().sum()

4953

In [27]:
#checking rows that have missing values
autolib.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [28]:
#count of missing values per row.
autolib.isnull().sum()

Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

##### Retain null values. Data in each observation might be relevant to the analysis hence the retention.

## **Data Exploration and Analysis**

In [29]:
# Random observations of the data. 

autolib.take(np.random.permutation(len(autolib))[:12])

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
579                 0               0                   0  ...    8    2     55
3034                4               0                   0  ...    5    7     49
2716                0               0                   0  ...    6    6     23
3194                3               0                   0  ...    7   23     32
3521                6               0                   0  ...    3   23     21
3703                1               0                   0  ...    4   10     36
2623                0               0                   0  ...    5   15     57
3555                0               0                   0  ...    5    8     29
4209                3               0                   0  ...    6   19     18
413                 0               0                   0  ...    1   19      8
3036                3               0                   0  ...    1    8     30
981                 0               0                   0  ...    4    3     26

[12 rows x 21 columns]

In [30]:
#number of unique stations

len(list(autolib['Public name'].unique()))

1105

In [31]:
# checking if there is a unique postal code to each station
len(list(autolib['Postal code'].unique()))

107

In [32]:
# Does this mean that stations share postal codes?

autolib['Postal code'].isnull().values.any()

False

In [33]:
# checking if the number of unique stations match with the number of unique ids
len(list(autolib['ID'].unique()))

1105

In [35]:
# Checking for validity of the data
# Broken stations cannot have cars being used in the station.

Broken= autolib['Rental status'] =='broken'
autolib[Broken]

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
6                   0               0                   0  ...    8   18     20
29                  0               0                   0  ...    8    2     29
46                  0               0                   0  ...    6   21      2
68                  0               0                   0  ...    5    3     11
80                  0               0                   0  ...    8   14      3
...               ...             ...                 ...  ...  ...  ...    ...
4931                0               0                   0  ...    3   14     37
4960                0               0                   0  ...    8   19      0
4961                0               0                   0  ...    7   21      8
4975                0               0                   0  ...    3    1     21
4981                0               0                   0  ...    8    7     33

[332 rows x 21 columns]

In [68]:
# Kind column, CENTER has no resources at all.

Center = autolib['Kind'] == 'CENTER'

autolib[Center]

      Bluecar counter  Utilib counter  ...  minute  BlueDiff
2038                0               0  ...       2      -4.0
3985                0               0  ...      28       0.0
4053                0               0  ...       1      -6.0

[3 rows x 22 columns]

In [37]:
# Further validation of data
# Charging status whose slots are 'future' cannot have resources

Future = autolib['Charging Status'] == 'future'

autolib[Future]

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

##### The data seems to be valid

### Question 1

#####Most popular hour of the day for picking up a shared electric car in the city of Paris over the month of April.

In [38]:
# Getting records whose City is Paris

Parisvar= autolib['City'] == 'Paris'

Parisdf=autolib[Parisvar]
Parisdf

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
5                   0               0                   0  ...    6    7      2
...               ...             ...                 ...  ...  ...  ...    ...
4992                0               0                   0  ...    9   23      1
4994                0               0                   0  ...    1   20     49
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4999                4               0                   0  ...    8   10      2

[2816 rows x 21 columns]

In [39]:
# Checking the number of stations in Paris

len(list(Parisdf['ID'].unique()))

605

In [41]:
# Coming up with a new column for differences in bluecars

Parisdf['Bluediff'] = Parisdf['Bluecar counter'].sub(Parisdf['Bluecar counter'].shift())
Parisdf['Bluediff'].iloc[0] = Parisdf['Bluecar counter'].iloc[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [55]:
# Most popular hour when bluecars are picked.

Parisdf[Parisdf['Bluediff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    68
20    55
7     55
4     52
16    52
13    51
3     49
14    48
8     48
6     48
17    47
18    47
19    47
5     46
2     45
15    44
1     42
9     42
23    41
22    39
11    38
10    37
12    37
0     34
Name: hour, dtype: int64

In [49]:
# Most popular hour when bluecars are picked in Paris

Pickedup= Parisdf['Bluediff']<0
Parisdf[Pickedup].hour.mode()

0    21
dtype: int64

### Question 2

#####The most popular hour of returning cars

In [59]:
# Creating new column for storing cumulative differences.

autolib['BlueDiff'] = autolib['Bluecar counter'].sub(autolib['Bluecar counter'].shift())
autolib['BlueDiff'].iloc[0] = autolib['Bluecar counter'].iloc[0]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [60]:
autolib.head(5)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  hour minute BlueDiff
0                0               0                   0  ...    11     43      0.0
1                6               0                   0  ...     7     24      6.0
2                3               0                   2  ...    20     14     -3.0
3                3               1                   0  ...     4     37      0.0
4                3               0                   0  ...    17     23      0.0

[5 rows x 22 columns]

In [61]:
# Most Popular Hour of returning cars

autolib[autolib['BlueDiff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     101
11     98
2      98
3      98
12     95
18     95
5      92
8      89
10     89
7      87
0      87
22     86
13     84
9      84
21     84
1      84
15     82
4      80
23     80
20     77
17     76
16     74
19     74
14     69
Name: hour, dtype: int64

In [63]:
# Most popular hour cars were returned

Returned= autolib['BlueDiff']>0
autolib[Returned].hour.mode()

0    6
dtype: int64

###Question 3

#####Most popular station overally and most popular picking hour.

In [66]:
# Most popular station.
# By the number of bluecars in each station.

# autolib.groupby('Public name').

autolib.groupby('Public name')['Bluecar counter'].sum().sort_values(ascending= False)

Public name
Fontenay-aux-Roses/Robert Marchand/32     50
Le Plessis-Robinson/GalilÃ©e/16           49
Fontenay-aux-Roses/Lombard/20             47
Fontenay-aux-Roses/Division Leclerc/31    43
Paris/Philippe Auguste/126                42
                                          ..
ChÃ¢tillon/LibertÃ©/100                    0
Paris/HÃ´pital/157                         0
ChÃ¢tenay-Malabry/Roger Salengro/143       0
ChÃ¢tenay-Malabry/Jean JaurÃ¨s/280         0
Alfortville/Blanqui/61                     0
Name: Bluecar counter, Length: 1105, dtype: int64

In [71]:
# Most popular picking hour

autolib[autolib['BlueDiff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    113
16    107
19    104
9      97
13     95
14     94
3      93
20     90
7      89
18     89
22     89
23     88
5      88
8      87
15     87
17     85
4      82
0      78
12     78
6      75
11     73
2      72
1      72
10     71
Name: hour, dtype: int64

In [77]:
# Most popular station at the most popular picking hour.
Hour= autolib['hour']==21

autolib[Hour].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Tronchet/19            4
Paris/Voltaire/182           3
Alfortville/Europe/22        2
Paris/Danton/8               2
Paris/Etoile Foch/Parking    2
                            ..
Paris/Lourmel/79             1
Paris/Louis Blanc/6          1
Paris/Lorraine/22            1
Paris/Londres/6              1
Paris/Duroc/2                1
Name: Public name, Length: 217, dtype: int64

### Question 4

##### The most popular postal code for picking up bluecars.

In [83]:
pickup= autolib['Bluecar counter']<0

autolib[pickup].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Series([], Name: Postal code, dtype: int64)

In [85]:
autolib[Hour & Pickup].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75008    9
75019    7
75014    6
75013    6
75012    6
75011    6
75017    5
75016    5
75007    5
75018    4
75015    4
75020    3
75001    3
75005    3
94140    3
92500    2
92700    2
92290    2
75009    2
75004    2
93700    2
94000    2
92340    2
75010    1
75006    1
75003    1
75002    1
94700    1
78150    1
92300    1
94160    1
93400    1
93360    1
93130    1
93100    1
92600    1
92270    1
92000    1
92240    1
92230    1
92200    1
92190    1
92130    1
94340    1
92100    1
Name: Postal code, dtype: int64

In [86]:
post= autolib['Public name']== 'Paris/Tronchet/19 '

autolib[post]

# It does not belong to the same popular station at the most popular picking hour.

Empty DataFrame
Columns: [Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute, BlueDiff]
Index: []

### **Utilib**

##### Do the results change when a utilib is considered?

In [98]:
# Creating cumulative difference column

autolib['UtilibDiff'] = autolib['Utilib counter'].sub(autolib['Utilib counter'].shift())
autolib['UtilibDiff'].iloc[0] = autolib['Utilib counter'].iloc[0]

autolib.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   Bluecar counter  Utilib counter  ...  BlueDiff  UtilibDiff
0                0               0  ...       0.0         0.0
1                6               0  ...       6.0         0.0
2                3               0  ...      -3.0         0.0
3                3               1  ...       0.0         1.0
4                3               0  ...       0.0        -1.0

[5 rows x 23 columns]

In [99]:
# Most popular returning hour.

autolib[autolib['UtilibDiff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
5     17
7     16
8     16
1     14
3     14
6     14
11    13
2     13
18    13
14    13
13    13
22    13
17    12
9     12
15    11
10    11
0     10
21    10
19     8
20     8
12     7
16     7
4      5
23     2
Name: hour, dtype: int64

In [101]:
Returned= autolib['UtilibDiff']>0
autolib[Returned].hour.mode()

0    5
dtype: int64

In [102]:
# Most popular station

autolib.groupby('Public name')['Utilib counter'].sum().sort_values(ascending= False)

Public name
Meudon/MarÃ©chal Juin/18         4
Gennevilliers/Petits marais/4    4
Paris/Porte de Montrouge/8       4
Paris/Mac Mahon/5                4
Paris/Arago/99                   3
                                ..
Paris/Maine/78                   0
Paris/Maine/4                    0
Paris/Maine/185                  0
Paris/Mahatma Gandhi/6           0
Alfortville/Blanqui/61           0
Name: Utilib counter, Length: 1105, dtype: int64

In [103]:
# Most popular picking hour

autolib[autolib['UtilibDiff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     17
14    16
11    15
2     15
19    15
9     14
22    13
10    13
3     12
5     11
23    11
16    11
20    11
12    10
15    10
8     10
18    10
1     10
4      9
21     9
13     8
7      8
17     7
0      6
Name: hour, dtype: int64

In [104]:
# Most popular station at the most popular picking hour.
Hour= autolib['hour']==6

autolib[Hour].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Saint-HonorÃ©/123                         3
Le Plessis-Robinson/ChaussÃ©e de l'Etang/109    2
Paris/Pereire/115                               2
Paris/Tournelle/21                              2
Garches/Raymond PoincarÃ©/102                   2
                                               ..
Paris/Notre-Dame des Champs/39                  1
Paris/Murat/157                                 1
Paris/Murat/1                                   1
Paris/Mozart/68                                 1
Arcueil/Emile Raspail/1                         1
Name: Public name, Length: 200, dtype: int64